.App {
    text-align: center;
    width: 850px;
    border: 3px solid darkblue;
    margin: 0 auto;
    height: 700px;
}

.title {
    color: #0F1E59;
}
.total {
    margin-top: 25px;
    color: red;
}

