.expense {
    width: 800px;
    border: 2px solid black;
    margin: 0 auto;
    background: #979ca0;
    text-align: left;
    position: relative;
    margin-top: 3px;
}
.btn2 {
    background: red;
    position: absolute;
    top:5px;
    right: 10px;
}
.name {
    padding-right: 35px;
}
.cost {
    padding-right: 35px;
}