.text {
    background: #41DB00;
    margin-right: 5px;
    width: 500px;
    height: 50px;
}
.btn {
    background: mediumvioletred;
    width: 120px;
    height: 50px;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
}
.form {
    margin: 0 auto;
    width: 810px;
    border: 2px solid black;
}
.text2 {
    background: #41DB00;
    height: 50px;
}